<nav class="navbar navbar-expand-lg mypj-header fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand">
            <img src="{{ asset('images/icon_sf.svg') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            My Task
        </span>
        <a class="sidebar-toggler" id="sidebar-toggler-collapse" href="#!">
            <i class="ti-more"></i>
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Header Nav A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Header Nav B</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>                            
        </div>
    </div>
</nav>
